@charset "UTF-8";
/* CSS Document */

img {

    width: 400px;
    height: 300px;

}

.art2{

color: blue;

}

.art3{

    color: red;
    font-size: 20px;
    
}

.art4{

    color: pink;
    font-size: 20px;
    
}


